html, body
  height: 100%
  
body
  background: grey
  display: flex
  justify-content: center
  align-items: center
  font-family: Helvetica Neue
  
#quote-box 
  background-color: grey
  padding: 10vw
  display: flex
  flex-direction: column
  color: white

#quoteFooter
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center 
  
#text 
  display: flex
  font-size: 2em
  background-color: grey
  padding: 10vw
  
#author
  font-size: 1em
  display: flex
  justify-content: right
  padding: 2vw
  margin-bottom: 3vw

#new-quote
  display: flex

button
  color: white
  background-color: grey
  border: 2px solid white
  border-radius: 1px
  padding: 0.5vw
  font-size: 1em
  transition: all 1s
  webkit-transition: all 1s
  cursor: pointer

button:hover
  background-color: #5a5a5a
  border-radius: 10px

#tweet-quote
  display: flex
  margin: 1vw
  
#icon
  display: flex
  width: 4vw
  heigth: auto
  transition: all 1s
  webkit-transition: all 1s
  padding: 0.5vw
  border: 2px solid white
  border-radius: 1px

#icon:hover
  border: 2px solid white
  border-radius: 10px
  background-color: #5a5a5a
