html, body
  height: 100vh

body
  display: flex
  font-family: Helvetica Neue

#full
  display: flex
  flex-direction: column
  color: white
  width: 100vw
  height: 100vh
  justify-content: center
  align-items: center
  transition: background-color 2s

#quote-box
  display: flex
  flex-direction: column
  color: white
  width: 70vw
  height: auto

#quoteFooter
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

#text
  display: flex
  font-size: 2em
  padding: 6vw
  max-height: 30vw
  justify-content: center

#author
  font-size: 1.2em
  display: flex
  justify-content: right
  padding: 2vw
  margin-bottom: 3vw

#new-quote
  display: flex

button
  color: white
  border: 2px solid white
  border-radius: 1px
  padding: 0.5vw
  font-size: 1em
  transition: all 1s
  webkit-transition: all 1s
  cursor: pointer

button:hover
  border-radius: 10px

#tweet-quote
  display: flex
  margin: 1vw

#icon
  display: flex
  width: 3vh
  heigth: auto
  transition: all 1s
  webkit-transition: all 1s
  padding: 0.5vh
  border: 2px solid white
  border-radius: 1px

#icon:hover
  border: 2px solid white
  border-radius: 10px

@media (max-width: 400px)

  #text
    font-size: 2em
    padding: 1vw
    max-height: 70vh
    max-width: 95vw

  #author
    font-size: 1em

  #quoteFooter
    font-size: 0.8em
